<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/create-room.css">
    <title>Rocket.Q - Início</title>
</head>
<body>
    <div class="content">
        <header class="col-a">
            <a href="/">
                <img src="/images/logo.svg" alt="Logo da rocket.q">
            </a>
        </header>
    
        <div id="Home_Background_Image" class="col-b">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <main class="col-c">
            <div class="container">
                <%- include(`parts/${page}`) %>
            </div>
            
        </main>
    </div>
</body>

<!--
    ° Retomar a aula 5 a partir de 32:00.
-->

</html>

