<section id="Create_Room">
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" id="Create_Room_Form" method="post">
        <label class="sr-only" for="Create_Room_Pass_Input">Insira uma senha</label>
        <input 
            id="Create_Room_Pass_Input" 
            name="Create_Room_Pass_Input" 
            type="password"
            placeholder="Insira uma senha"
        />
        <button class="blue-button" href="#">
            <img src="/images/users-white.svg" alt="">
                
            Criar sala
        </button>
    </form>
</section>