<section id="Get_In_Room">
    <h2>Entre como participante</h2>
    <form action="/get_in_room" id="Get_In_Room_Form" method="post">
        <label class="sr-only" for="Room_Cod_Input">Código da sala</label>
        <input 
            id="Room_Cod_Input" 
            name="Room_Cod_Input" 
            type="number"
            placeholder="Código da sala"
        />
        <button class="blue-button">
            <img src="/images/get-in.svg" alt="Entrar em uma sala já existente">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section id="Create_Room">
   <h2>Crie sua própria sala, de forma fácil</h2>
   <a class="white-button" href="create-pass">
       <img src="/images/users-blue.svg" alt="Criar uma sala">
       Criar sala
   </a>
</section> 