<div class="no-questions">
    <img src="/images/illustration.svg" alt="Sem perguntas">
    <p id="No_Questions_Title">Nenhuma pergunta por aqui...</p>
    <p id="No_Questions_Paragraph">Faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>
