/*General=====================#A5B0C1===============================================*/
:root{
    font-size: 62.5%; /* Os navegadores costumam ter por padrão font-size de 16px, com essa alteração => 1rem = 10px, o que nos permite trabalhar com rem, que é uma unidade de medida relativa, o que permite melhor uma adaptação da aplicação. */

    --h2-colour: #0D114F;
    --buttuns-blue: #3485FF;
    --gray-blue: #A1B2CD;
    --general-background-color: #FBFCFF;
    --icons-and-details-color: #A5B0C1;
    --light-blue: #E0ECFF;
    --normal-gray: #4D5E77;
    --light-gray: #EAECF2;
    --red: #E83F5B;
    --overlay: rgba(4, 9, 17, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100vh;
}

body{
    display: flex;
    height: 100vh;
    font-family: 'Poppins';
    background: var(--general-background-color);
}

body, .button, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-style: normal; 
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 
    'A A'
    'B C';
}

.col-a{
    grid-area: A;
}

.col-b{
    grid-area: B;
}

.col-c{
    grid-area: C;
}

h2{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.2rem;
    color: var(--h2-colour);
    margin-bottom: 2.4rem;
}

.sr-only{  /* "sr-only" = screem reader only (somente leitores de tela)*. Esta class foi adicionada aos h2 para que pudéssimos manipular seus conteúdos utilizando o trick (truque) abaixo, a fim de torná-los invisíveis para o usuário, porém permitido sua leitura através das ferramentas de acessibilidade (screem readers) */ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input{
    text-decoration: none;
    height: 5rem;
    border-radius: 0.8rem;
}

a{
    text-decoration: none;
}

.white-button{
    text-decoration: none;
    height: 5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    color: var(--buttuns-blue);
    border: 2px solid var(--buttuns-blue);
    background-color: white;
}

.gray-button{
    text-decoration: none;
    height: 5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    color: var(--normal-gray);
    border: none;
    background-color: #E5EAF1;
}

.blue-button{
    text-decoration: none;
    height: 5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    color: white;
    border: none;
    transition: filter 0.2s;
    background-color: var(--buttuns-blue);
}

.red-button{
    text-decoration: none;
    height: 5rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    color: white;
    border: none;
    transition: filter 0.2s;
    background-color: var(--red);
}

.blue-button:hover{
    filter: brightness(1.2);
}

.red-button:hover{
    filter: brightness(1.2);
}

header{
    width: 80%;
    height: 11.38rem;
    margin: 0 auto;
    padding-top: 3.5rem;
}

header img{
    width: 16.7rem;
}